{% extends "AppJavi/padre.html" %}
{% load static %}

{% block contenidoQueCambia %}
<div class="container px-5">
    <div class="p-5">
        <section>

            <h2 class="display-4">Please insert dog's data.</h2>

            <form action="" method="POST">{% csrf_token %}

                <table>

                    {{ my_form.as_table }}

                </table>

                <input type="submit" value="Submit" class="btn btn-primary">

            </form>

        </section>
    </div>
</div>
{% endblock %}
